.homeImg {
  background: url('./homepic.jpeg');
  height: 100vh;
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 15%;

}

.search {
  background-color: white;
  /* display: flex;
  justify-content: center; */
  align-items: center;
  /* border-radius: 999px; */
  border:1px solid gray;
  width:90%;
  flex-direction: column;
  margin: auto;
  opacity: 0.9;
  height: 300px;
}

/* 
.MuiAutocomplete-inputRoot[class*="MuiOutlinedInput-root"] {
  padding: 9px;
  margin-top: 4%;
  margin-left: 50%;
} */
