.pic{
    background: url('../Home/homepic.jpeg');
    height: 100vh;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 15%;
}
.about{
    text-align: right;
    float: left;
    background-color: white;
    opacity: 0.6;
    margin-right: 52%;
    width: 100%;
    
}
.lines{
    text-align: right;
    font-size: system-ui;
    font-family: system-ui;
    opacity: 1 !important;
    font-size: larger;
    font-weight: bold;
}   

